<%= form_for [:admin, @order, @order_package], :html => { :multipart => true } do |f| %>
  <fieldset data-hook="new_order_package">
    <legend align="center"><%= Spree.t(:new_package) %></legend>

      <%= render :partial => 'form', :locals => { :f => f } %>

      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button Spree.t(:update), 'icon-refresh' %>
        <span class="or"><%= t(:or) %></span>
        <%= link_to_with_icon 'icon-remove', Spree.t(:cancel), admin_order_order_packages_url(@order), :id => 'cancel_link', :class => 'button' %>
      </div>
  </fieldset>
<% end %>

<%= javascript_include_tag 'admin/order_packages/new.js' %>
